@import '../../assets/sass/colors';

.header{
    width: 100%;
    padding-top: 20px; 
    text-align: center;

    img{
        border-radius:50%;
        padding: 5px;
        max-width: 250px;
        background-color: $darkColor;
    }
    h3{
        text-align: left;
        padding: 0px;
        margin: 10px 0 0 0;
    }
    p{
        text-align: left;
        line-height: 30px;
        color:$lightColor;
        font-size: 18px;
        margin: 0;
    }
}
@media(max-width:578px){
    .header{
        p{
            padding: 0 0 0 5px !important;
        }
    }
}