div.header
    img(src="assets/images/ahmed-diab.jpg", alt="ahmed cv image")
    h3 Hello everybody
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ipsum numquam repellat possimus architecto repellendus Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ipsum numquam repellat possimus architecto repellendus natus quaerat ut dolore deleniti, dolor at quas veniam iure. Dolore molestias deserunt odio similique.Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ipsum numquam repellat possimus architecto repellendus natus quaerat ut dolore deleniti, dolor at quas veniam iure. Dolore molestias deserunt odio similique.natus quaerat ut dolore deleniti, dolor at quas 