<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="icon", type="image/x-icon", href="favicon.ico")
        link(rel="stylesheet", href="./style.css")
        title Ahmed Diab
    body
        div#overlay.overlay
        .container
            include components/header/header.pug
            include components/skills/skills.pug
            include components/projects/projects.pug


        include components/footer/footer.pug
        script(src='./main.js', type="text/javascript",  language="javascript")