@import './assets/sass/_home.scss';
*{
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
}
.clear-fix{
    clear: both;
}
.overlay{
    position: fixed;
    /* top: 0; */
    transform: translateX(-50%) translateY(-50%);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 60;
    transition: all ease 1s;
    background-color: black !important;
    opacity: 0;
    display: none;
}
.d-block{
    transition: all ease 1s;
    display: block;
    transform: translateY(0%) translateX(0%);
    opacity: .5;
    height: 100%;
}
@media(max-width:778px){
    .container{
        width: 95% !important;
        margin: auto;
    }
}