div.skills
    ul 
        li HTML 5
        li CSS 3
        li Javascript
        li SASS
        li Bootstrap
        li pug
        li REST API
        li json
    ul 
        li Nodejs
        li Mongodb
        li Express
        li Angular
        li Angular Material
        li Grunt
        li Parcel
        li Git & Github
        li Typescript
    div.clear-fix