.projects
    h2 Projects
    button#btn calc
    h3 Shoes Shop
    p this is my first app using #mangodb #express #nodejs and #angular
    div(class="project")#shoesShop1
    div(class="slider-container")
        div(class="slide shoes-shop") 
            div(class="numbertext") login page
            img( src="assets/images/login.png", alt='login page', style="width:100%; min-height:100%;")
        div(class="slide shoes-shop") 
            div(class="numbertext") register page
            img( src="assets/images/register.png", alt='register page',style="width:100%; min-height:100%;")
        div(class="slide shoes-shop")
            div(class="numbertext") home page
            img( src="assets/images/home.png", alt='home page', style="width:100%; min-height:100%;")
        div(class="slide shoes-shop")
            div(class="numbertext") contact page
            img( src="assets/images/contact.png", alt='contact page', style="width:100%; min-height:100%;")
        div(class="slide shoes-shop")
            div(class="numbertext") cart page
            img( src="assets/images/cart.png", alt='cart page', style="width:100%; min-height:100%;")
        div(class="slide shoes-shop")
            div(class="numbertext") product information page
            img( src="assets/images/product-info.png", alt='product information page', style="width:100%; min-height:100%;")
        a#prevShoeShop(class="prev") &#10094;
        a#nextShoeShop(class="next") &#10095; 
    h3 Yoda
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, excepturi nesciunt? Quam distinctio adipisci debitis facere possimus expedita incidunt culpa impedit unde consequatur dignissimos recusandae et, ab provident perferendis dolores.
    div(class="slider-container")
        div(class="slide yoda") 
            div(class="numbertext") yoda
            img( src="assets/images/yoda-login.png", alt='login page', style="width:100%; min-height:100%;")
        div(class="slide yoda") 
            div(class="numbertext") yoda
            img( src="assets/images/yoda-register.png", alt='register page',style="width:100%; min-height:100%;")
        div(class="slide yoda")
            div(class="numbertext") yoda
            img( src="assets/images/yoda-home.png", alt='home page', style="width:100%; min-height:100%;")
        div(class="slide yoda")
            div(class="numbertext") yoda
            img( src="assets/images/contact.png", alt='contact page', style="width:100%; min-height:100%;")
        div(class="slide yoda")
            div(class="numbertext") yoda
            img( src="assets/images/cart.png", alt='cart page', style="width:100%; min-height:100%;")
        div(class="slide yoda")
            div(class="numbertext") yoda
            img( src="assets/images/product-info.png", alt='product information page', style="width:100%; min-height:100%;")
        a#prevYoda(class="prev") &#10094;
        a#nextYoda(class="next") &#10095; 